@*@using ChoTotAsp.Utils
@model ChoTotAsp.Areas.Admin.ViewModel.ProductViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quản lý sản phẩm";
}

@section css {
    <link rel="stylesheet" href="~/Content/Admin/product.index.css" type="text/css"/>
}

<div class="application mb-20">
    <div class="app-content">
        <form class="form-filter" action="/Admin/ProductManagement" method="get">
            <div class="row row-custom">
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" placeholder="Nhập từ khóa tìm kiếm..." name="search" value="@Model.SearchTerm">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="v-select vs--single vs--searchable">
                        <select name="status" class="vs__dropdown-toggle">
                            <option disabled="disabled">Chọn trạng thái</option>
                            <option value="all" @(Model.Status.Equals("all") ? "selected" : "")>Tất cả</option>
                            <option value="pending" @(Model.Status.Equals("pending") ? "selected" : "")>Đang chờ</option>
                            <option value="approved" @(Model.Status.Equals("approved") ? "selected" : "")>Đã duyệt</option>
                            <option value="rejected" @(Model.Status.Equals("rejected") ? "selected" : "")>Từ chối</option>
                            <option value="hide" @(Model.Status.Equals("hide") ? "selected" : "")>Đã ẩn</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn yellow btn-block fs-15">
                        <span>Tìm</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
@if (Model.Products.Any())
{
    <div class="jobs">
        @foreach (var product in Model.Products)
        {
            <div class="application border-yellow">
                <div class="app-content d-block">
                    <div class="info">
                        <div class="left-side">
                            <div class="logo centered d-flex flex-column h-100">
                                @foreach (var img in product.product_images)
                                {
                                    <img style="height: 80px; width: 80px;"
                                         src="@(img.image_url)" alt="@product.name" class="mb-1">
                                }
                            </div>
                            <div class="detail">
                                <div class="mb-5">
                                    <h3>
                                        @product.Title
                                    </h3>
                                </div>
                                <ul class="meta">
                                    <li class="small mb-n">
                                        Phone.No: @product.PhoneNumber
                                    </li>
                                    <li>
                                        <i class="fas fa-money-bill"></i>
                                        <strong class="price-red"> @($"{product.Price:n0}") đ</strong>
                                    </li>
                                    <li>
                                        <i class="fas fa-map" style="padding-right: 10px;"></i>
                                        <strong style="font-weight: 400 !important;">
                                            @(product.Province?.ProvinceName)
                                        </strong>
                                    </li>
                                    <li>
                                        <i class="fas fa-tag fa-xs"></i>
                                        <strong style="font-weight: 400 !important;">
                                            @(product.Category?.CategoryName)
                                        </strong>
                                    </li>
                                </ul>
                                <div>
                                    <div class="description-job">
                                        @product.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-footer two-side">
                    <ul data-v-21de0dc5="" class="rating">
                        <li class="ml-n">
                            <i class="fas fa-check-circle"></i>
                            @(product.Status == "pending" ? "Chưa có Được chấp thuận" : "Đã duyệt")
                        </li>
                        <li>
                            <i class="fas fa-calendar-check"></i>
                            Ngày tạo : @product.CreatedDate.ToString("HH:mm dd/MM/yyyy")
                        </li>
                        <li>
                            <i class="fas fa-user"></i>
                            Người đăng bài : @product.Account.Email
                        </li>
                        <li>
                            <i class="fas fa-calendar-alt"></i>
                            Ngày cập nhật : @product.LastUpdatedDate.ToString("HH:mm dd/MM/yyyy")
                        </li>
                    </ul>
                </div>

                <div class="app-footer two-side">
                    <ul class="rating">
                        @if (Constant.PENDING.Equals(product.Status))
                        {
                            <li>
                                <button class="btn yellow btn-block fs-15" onclick="changeStatus('@product.ProductId', 'approved')">
                                    <span>Duyệt</span>
                                </button>
                            </li>
                        }
                        @if (Constant.APPROVED.Equals(product.Status))
                        {
                            <li>
                                <button class="btn red btn-block fs-15" onclick="changeStatus('@product.ProductId', 'hide')">
                                    <span>Ẩn bài</span>
                                </button>
                            </li>
                        }
                        @if (Constant.HIDE.Equals(product.Status))
                        {
                            <li>
                                <button class="btn blue btn-block fs-15" onclick="changeStatus('@product.ProductId', 'approved')">
                                    <span>Hiện bài</span>
                                </button>
                            </li>
                        }
                        @if (!Constant.REJECTED.Equals(product.Status))
                        {
                            <li>
                                <button class="btn blue btn-block fs-15" onclick="changeStatus('@product.ProductId', 'rejected')">
                                    <span>Xóa bài</span>
                                </button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-warning">
        Không tìm thấy sản phẩm nào
    </div>
}


@section js {
    <script src="~/Scripts/Admin/product.management.js"></script>
}*@

