@using ChoTotAsp.Utils
<div class="application mb-20">
    <div class="app-content">
        <form class="form-filter" method="get" action="@Url.Action("Index")">
            <div class="row row-custom">
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Nhập từ khóa tìm kiếm..." />
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn yellow btn-block fs-15">
                        <span>Tìm</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<table class="dashboard-packages">
    <tr >
        <th>Tên người dùng</th>
        <th>Email</th>
        <th>Ngày tạo</th>
        <th>Ngày cập nhật</th> 
        <th >Trạng thái</th> 
        <th >Hình ảnh</th> 
        <th></th>
    </tr>
    <tbody >
    @foreach (var account in Model.Accounts)
    {
        <tr>
            <td>
                <span>@account.Username</span>
            </td>
            <td>
                <span>@account.Email</span>
            </td>
            <td>
                <span>@account.CreatedDate.ToString("HH:mm dd/MM/yyyy")</span>
            </td>
            <td>
                <span>@account.LastUpdatedDate.ToString("HH:mm dd/MM/yyyy")</span>
            </td>
            <td>
                <div class="badge @(account.Status == "ACTIVE" ? "complete" : "cancel")">
                    @account.Status
                </div>
            </td>
            <td>
                <div>
                    <img src="@($"{Constant.BASE_64}{account.Avatar}")" alt="Avatar"  style="width: 60px; height: 60px"/>
                </div>
            </td>
            <td>
                <i class="fas fa-edit" onclick="openDialog(@account.AccountId)" style="font-size: 22px;"></i>
            </td>
        </tr>
    }
    </tbody>
</table>
<br>
<br>
<div data-v-29e3e9f6="" class="pagination-container" page-per-block="7">
    <ul class="pagination-nav pagination-prev">
        <li>
            <a href="@Url.Action("Index", new { page = Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1 })"
               class="page-prev @(Model.CurrentPage == 1 ? "disabled" : "")">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"></path>
                </svg>
            </a>
        </li>
        <li class="pagination-item">
            <a href="@Url.Action("Index", new { page = Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1 })"
               class="page-prev @(Model.CurrentPage == 1 ? "disabled" : "")">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                    <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"></path>
                </svg>
            </a>
        </li>
    </ul>
    <nav class="pagination pagination-center">
        <ul>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="pagination-item">
                    <a href="@Url.Action("Index", new { page = i, searchTerm = Model.SearchTerm })"
                       class="@(i == Model.CurrentPage ? "page-item current-page" : "page-item")">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
    <ul class="pagination-nav pagination-next">
        <li class="pagination-item">
            <a href="@Url.Action("Index", new { page = Model.CurrentPage < Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages })"
               class="page-next @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                    <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                </svg>
            </a>
        </li>
        <li class="pagination-item">
            <a href="@Url.Action("Index", new { page = Model.CurrentPage < Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages })"
               class="page-next @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"></path>
                </svg>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>


<div tabindex="-1" class="vodal" style="animation-duration: 100ms; display: none;" id="model-container">
    <div class="vodal-mask"></div>
    <div class="vodal-dialog normal fade" style="animation-duration: 100ms; display: none;" id="model-body">
        <div class="modal-header">
            <h3>
                Chỉnh sửa thông tin
            </h3>
            <i class="fas fa-times vodal-close" style=" cursor: pointer;" onclick="closeDialog()"></i>
        </div>
        <div class="modal-body">
            <div class="my-profile pr-15">
                <div class="pr-0">
                    <div class="form-group row">
                        <div class="form-group col-lg-6">
                            <label class="m-0">Họ và tên</label> <span class="required" style="color: red;">*</span> <input id="form-user-name" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="m-0">Email</label> <span  class="required" style="color: red;">*</span> <input id="form-email" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <span>
                            <label>Trạng thái <span class="required">*</span></label>
                            <div class="radios">
                                <div class="radio-item">
                                    <input id="status-active" type="radio" name="status" value="ACTIVE"> <label for="status-active">ACTIVE</label>
                                </div>
                                <div class="radio-item">
                                    <input id="status-inactive" type="radio" name="status" value="INACTIVE"> <label for="status-inactive">INACTIVE</label>
                                </div>
                            </div>
                            <span class="validate-errors"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer two-side centered">
            <div class="left-side">
                <a href="javascript:void(0)" class="prt--2" onclick="closeDialog()">Đóng</a>
            </div>
            <div class="right-side">
                <button type="submit" class="btn yellow btn-block fs-15" onclick="saveUser()">
                    <span>Lưu</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section js {
    <script src="~/Scripts/Admin/user.management.js"></script>
}