@model Project.Areas.Admin.ViewModel.UserManagementViewModel

@{
    ViewBag.Title = "Thống kê người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<table class="dashboard-packages">
    <tr >
        <th>Tên người dùng</th>
        <th>Email</th>
        <th>Trạng thái</th>
        <th>Số tin nhắn</th>
        <th>Số bài đăng</th>
    </tr>
    <tbody >
    @foreach (var account in Model.ListUserStatistic)
    {
        <tr>
            <td>
                <span>@account.Username</span>
            </td>
            <td>
                <span>@account.Email</span>
            </td>
            <td>
                <div class="badge @(account.Status == "ACTIVE" ? "complete" : "cancel")">
                    @account.Status
                </div>
            </td>
            <td>
                <span>@account.TotalMessages</span>
            </td>
            <td>
                <span>@account.TotalProducts</span>
            </td>
        </tr>
    }
    </tbody>
</table>