@using ChoTotAsp.Utils
@model IEnumerable<ChoTotAsp.Entity.product>
@if (!Model.Any())
{
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center text-center">
                <i class="fi-info fs-xl me-3"></i> <span class="fs-base">Không có bài đăng nào.</span>
            </div>
        </div>
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="card card-light card-hover card-horizontal mb-4">
            <div class="tns-carousel-wrapper card-img-top card-img-hover">
                <div class="position-absolute start-0 top-0 pt-3 ps-3">
                    <span class="d-table badge bg-info mb-1">Đã sử dụng</span>
                    @Html.Partial("Verified")
                </div>
                <div class="tns-carousel-inner position-absolute top-0 h-100">
                    @foreach (var img in item.Images)
                    {
                        <div class="bg-size-cover bg-position-center w-100 h-100"
                             style="background-image: url(@img.ImageUrl);">
                        </div>
                    }
                </div>
            </div>
            <div class="card-body position-relative">
                @if (!Constant.REJECTED.Equals(item.Status))
                {
                    <div class="dropdown position-absolute zindex-5 top-0 end-0 mt-3 me-3">
                        <button class="btn btn-icon btn-translucent-light btn-xs rounded-circle"
                                type="button" id="contextMenu1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fi-dots-vertical"></i>
                        </button>
                        @if (Constant.HIDE.Equals(item.Status))
                        {
                            <ul class="dropdown-menu dropdown-menu-dark my-1" aria-labelledby="contextMenu1">
                                <li>
                                    <button class="dropdown-item" onclick="showPost(@item.ProductId)" type="button"><i class="fi-bell-on me-2"></i>Đăng lại</button>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="dropdown-menu dropdown-menu-dark my-1" aria-labelledby="contextMenu1">
                                <li>
                                    <button class="dropdown-item" onclick="hidePost(@item.ProductId)" type="button"><i class="fi-power me-2"></i>Ẩn</button>
                                </li>
                                <li>
                                    <button class="dropdown-item" onclick="location.href = '/User/Post/Index/@item.ProductId';" type="button"><i class="fi-edit me-2"></i>Sửa</button>
                                </li>
                            </ul>
                        }
                    </div>
                }

                <div class="fs-sm text-light pb-1">@item.CreatedDate</div>
                <h3 class="h6 mb-1">
                    <span class="nav-link-light">@item.Title</span>
                </h3>
                <div class="text-primary fw-bold mb-1">@($"{item.Price:n0}") đ</div>
                <div class="fs-sm text-light opacity-70">
                    <i class="fi-map-pin me-1"></i>@item.Province.ProvinceName
                </div>
                <div class="border-top border-light mt-3 pt-3">
                    <div class="row g-2">
                        @item.Description
                    </div>
                </div>
            </div>
        </div>
    }
}