<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/lib.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/style.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="~/Scripts/Admin/jquery.min.js"></script>
    <title>Admin - @ViewBag.Title</title>
    @RenderSection("css", required: false)
</head>

<body>
<div class="dashboard-wrapper">
    @Html.Partial("_LeftMenu")

    <div class="dashboard-content dash_show_sidebar">
        @Html.Partial("_Header")
        <section class="dashboard-body">
            @RenderBody()
        </section>
        @Html.Partial("_Footer")
    </div>
</div>
<div id="liveToast"
     class="position-fixed toast hide bg-danger"
     role="alert" aria-live="assertive"
     aria-atomic="true" style="top: 20px; right: 20px; z-index: 9090;">
    <div class="toast-body d-flex align-items-center justify-content-between">
        <span id="alertMessage" class="text-white">This is a danger alert—check it out!</span>
        <div class="text-end">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<script src="~/Scripts/User/bootstrap.bundle.min.js"></script>
<script src="@Url.Content("~/Scripts/Admin/main.js")"></script>
<script src="~/Scripts/toast.js"></script>
@RenderSection("js", required: false)
</body>
</html>