<!--@using ChoTotAsp.Utils
@model ChoTotAsp.Areas.User.ViewModel.DetailNewsViewModel

@{
    ViewBag.Title = "Chi tiết bài đăng";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var currentUserId = AuthenticationUtil.GetUserId(Context.Request, Session);
    var isLogin = currentUserId != -1;
}
@Html.Partial("Modal", isLogin)

<div class="container mt-5 mb-md-4 py-5">-->
<!-- Breadcrumb-->
<!--<nav class="mb-3 pt-md-3" aria-label="Breadcrumb">
    <ol class="breadcrumb breadcrumb-light">
        <li class="breadcrumb-item">
            <a href="/User/Home">Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/User/News">Tin đăng</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Chi tiết bài đăng
        </li>
    </ol>
</nav>-->
<!-- Title + Sharing-->
<!--<div class="d-sm-flex align-items-end align-items-md-center justify-content-between position-relative mb-4"
     style="z-index: 1025;">
    <div class="me-3">
        <h1 class="h2 text-light mb-md-0"> @Model.CurrentProduct.Title</h1>
        <div class="d-md-none">
            <div class="d-flex align-items-center mb-3">
                <div class="h3 mb-0 text-light">
                    @($"{Model.CurrentProduct.Price:N0}") đ
                </div>
                <div class="text-nowrap ps-3">
                    <span class="badge bg-info fs-base me-2">Đã sử dụng</span>
                    @Html.Partial("Verified")
                </div>
            </div>
            <div class="d-flex flex-wrap align-items-center text-light mb-2">
                <div class="text-nowrap border-end border-light pe-3 me-3">
                    <i class="fi-dashboard fs-lg opacity-70 me-2"></i><span class="align-middle">Ngày đăng: @Model.CurrentProduct.CreatedDate </span>
                </div>
                <div class="text-nowrap">
                    <i class="fi-map-pin fs-lg opacity-70 me-2"></i><span class="align-middle">@Model.CurrentProduct.Province.ProvinceName</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-nowrap pt-3 pt-sm-0">
        <button class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-sm-2"
                onclick="addToWishList(@Model.CurrentProduct.ProductId)"
                type="button" data-bs-toggle="tooltip" title="Thêm vào yêu thích">
            <i class="fi-heart"></i>
        </button>
        <div class="dropdown d-inline-block" data-bs-toggle="tooltip" title="Share">
            <button class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2 mb-sm-2"
                    type="button" data-bs-toggle="dropdown">
                <i class="fi-share"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end my-1">
                <button class="dropdown-item" type="button"><i class="fi-facebook fs-base opacity-75 me-2"></i>Facebook</button>
                <button class="dropdown-item" type="button"><i class="fi-twitter fs-base opacity-75 me-2"></i>Twitter</button>
                <button class="dropdown-item" type="button"><i class="fi-instagram fs-base opacity-75 me-2"></i>Instagram</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">-->
        <!-- Gallery-->
        <!--<div class="tns-carousel-wrapper">
            <div class="tns-slides-count text-light">
                <i class="fi-image fs-lg me-2"></i>
                <div class="ps-1">
                    <span class="tns-current-slide fs-5 fw-bold"></span>
                    <span class="fs-5 fw-bold">/</span>
                    <span class="tns-total-slides fs-5 fw-bold"></span>
                </div>
            </div>
            <div class="tns-carousel-inner"
                 data-carousel-options="{&quot;navAsThumbnails&quot;: true, &quot;navContainer&quot;: &quot;#thumbnails&quot;, &quot;gutter&quot;: 12, &quot;responsive&quot;: {&quot;0&quot;:{&quot;controls&quot;: false},&quot;500&quot;:{&quot;controls&quot;: true}}}">
                @foreach (var img in Model.CurrentProduct.Images)
                {
                    <div>
                        <img class="rounded-3 w-100 h-100" src="@img.ImageUrl" alt="@Model.CurrentProduct.Title">
                    </div>
                }
            </div>
        </div>
        <ul class="tns-thumbnails" id="thumbnails">
            @foreach (var img in Model.CurrentProduct.Images)
            {
                <li class="tns-thumbnail">
                    <img class="h-100" src="@img.ImageUrl" alt="Thumbnail">
                </li>
            }
        </ul>-->
        <!-- Description-->
        <!--<div class="pb-4 mb-3">
            <h2 class="h4 text-light pt-4 mt-3">Mô tả</h2>
            <p class="text-light opacity-70 mb-1">
                @Model.CurrentProduct.Description.Split('.').FirstOrDefault()
            </p>
            <div class="collapse" id="seeMoreDescription">
                <p class="text-light opacity-70 mb-1">
                    @Model.CurrentProduct.Description.Split('.').Skip(1).FirstOrDefault()
                </p>
            </div>
            <a class="collapse-label collapsed" href="#seeMoreDescription"
               data-bs-toggle="collapse" data-bs-label-collapsed="Xêm thêm"
               data-bs-label-expanded="Rút gọn" role="button" aria-expanded="false" aria-controls="seeMoreDescription">
            </a>
        </div>-->
        <!-- Post meta-->
        <!--<div class="d-flex flex-wrap border-top border-light fs-sm text-light pt-4 pb-5 pb-md-2">
            <div class="border-end border-light pe-3 me-3">
                <span class="opacity-70">Ngày đăng: <strong>@Model.CurrentProduct.CreatedDate</strong></span>
            </div>
            <div class="border-end border-light pe-3 me-3">
                <span class="opacity-70">SDT: <strong>@Model.CurrentProduct.PhoneNumber</strong></span>
            </div>
        </div>
    </div>-->
    <!-- Sidebar-->
    <!--<div class="col-md-5 pt-5 pt-md-0"
         style="margin-top: -6rem;">
        <div class="sticky-top pt-5">
            <div class="d-none d-md-block pt-5">
                <div class="d-flex mb-4">
                    <span class="badge bg-info fs-base me-2">Đã sử dụng</span>
                    @Html.Partial("Verified")
                </div>
                <div class="h3 text-light">
                    @($"{Model.CurrentProduct.Price:N0}") đ
                </div>
                <div class="d-flex align-items-center text-light pb-4 mb-2">
                    <div class="text-nowrap border-end border-light pe-3 me-3">
                        <i class="fi-dashboard fs-lg opacity-70 me-2"></i>
                        <span class="align-middle">
                            Ngày đăng: @Model.CurrentProduct.CreatedDate
                        </span>
                    </div>
                    <div class="text-nowrap">
                        <i class="fi-map-pin fs-lg opacity-70 me-2"></i><span class="align-middle">@Model.CurrentProduct.Province.ProvinceName</span>
                    </div>
                </div>
            </div>
            <div class="card card-light card-body mb-4">
                <div class="text-light mb-2">Thông tin người đăng</div>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="/User/Profile/View/@Model.CurrentProduct.AccountId">
                    <img class="rounded-circle" src="data:image/jpeg;base64,@Model.CurrentProduct.Account.Avatar" width="48" alt="@Model.CurrentProduct.Account.Username">
                    <div class="ps-2">
                        <h5 class="text-light mb-0">@Model.CurrentProduct.Account.Username</h5>
                        <span class="star-rating">
                            <i class="star-rating-icon fi-star-filled active"></i>
                            <i class="star-rating-icon fi-star-filled active"></i>
                            <i class="star-rating-icon fi-star-filled active"></i>
                            <i class="star-rating-icon fi-star-filled active"></i>
                            <i class="star-rating-icon fi-star-filled active"></i>
                        </span>
                    </div>
                </a>
                <div class="pt-4 mt-2 d-flex align-items-center">
                    <button class="btn btn-outline-light btn-lg px-4 me-3" type="button">
                        <i class="fi-phone me-2"></i>@Model.CurrentProduct.PhoneNumber
                    </button>
                    @if (Model.CurrentProduct.AccountId != currentUserId)
                    {
                        <button class="btn btn-primary btn-lg"
                                onclick="openMessage(@Model.CurrentProduct.ProductId)">
                            <i class="fi-chat-left me-2"></i>Gửi tin nhắn
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Related posts (Carousel)-->
<!--@if (Model.RelatedProduct.Any())
{
    <h2 class="h3 text-light pt-5 pb-3 mt-md-4">Có thể bạn sẽ thích</h2>
    <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside tns-carousel-light">
        <div class="tns-carousel-inner"
             data-carousel-options="{&quot;items&quot;: 3, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;900&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;gutter&quot;: 24}}}">
            @foreach (var item in Model.RelatedProduct)
            {
                <div>
                    <div class="card card-light card-hover h-100">
                        <div class="card-img-top card-img-hover">
                            <a class="img-overlay" href="#"></a>
                            <div class="position-absolute start-0 top-0 pt-3 ps-3">
                                <span class="d-table badge bg-danger">Đã sử dụng</span>
                            </div>
                            <div class="content-overlay end-0 top-0 pt-3 pe-3">
                                <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                                        onclick="addToWishList(@item.ProductId)"
                                        data-bs-toggle="tooltip" data-bs-placement="left" title="Thêm vào yêu thích">
                                    <i class="fi-heart"></i>
                                </button>
                            </div><img style="height: 300px; width: 100%; object-fit: cover;" src="@item.Images.First().ImageUrl" alt="@item.Title">
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between pb-1">
                                <span class="fs-sm text-light me-3">@item.CreatedDate</span>
                            </div>
                            <h3 class="h6 mb-1">
                                <a class="nav-link-light" href="/User/News/Detail/@item.ProductId">@item.Title</a>
                            </h3>
                            <div class="text-primary fw-bold mb-1">
                                @($"{Model.CurrentProduct.Price:N0}") đ
                            </div>
                            <div class="fs-sm text-light opacity-70">
                                <i class="fi-map-pin me-1"></i>@item.Province.ProvinceName
                            </div>
                        </div>
                        <div class="card-footer border-0 pt-0">
                            <div class="border-top border-light pt-3">
                                <div class="row g-2">
                                    @item.Description.Substring(0, 100)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

</div>

@section vendor
{
    <script src="~/Scripts/User/lightgallery.min.js"></script>
    <script src="~/Scripts/User/lg-video.min.js"></script>
}

@section js {
    @if (!isLogin)
    {
        if (TempData[Constant.STATUS_RS] != null)
        {
            <script>
            if ('@(TempData[Constant.STATUS_RS]?.ToString().Equals(Constant.OPEN_LOGIN))' === 'True') {
                document.getElementById('open-signin').click();
            } else if ('@(TempData[Constant.STATUS_RS]?.ToString().Equals(Constant.OPEN_SIGNUP))' === 'True') {
                const modal = new bootstrap.Modal('#signup-modal')
                modal.show()
            } else if ('@(TempData[Constant.STATUS_RS]?.ToString().Equals(Constant.OPEN_FORGET_PASSWORD))' === 'True') {
                const modal = new bootstrap.Modal('#forget-password-modal')
                modal.show()
            }
        </script>
        }

        <script type="text/javascript" src="~/Scripts/User/home.index.js"></script>
    }
    <script type="text/javascript" src="~/Scripts/User/message.js"></script>
}-->